@import url('https://fonts.googleapis.com/css2?family=Domine&family=Open+Sans&display=swap');

body {
    font-family: "Open-Sans", Domine;
}

/* Main Logo */

#main-logo {
    max-width: 100vw;
    max-height: 25vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Navigation Bar */

nav {
    text-align: center;
}

#nav-bar ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

#nav-bar li {
    display: inline;
    float: left;
    list-style-type: none;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: black;
    color: white;
    margin-left: 3px;
    margin-right: 3px;
}

#nav-bar li:hover {
    color: black;
    background-color: white;
}
#nav-bar a {
    text-decoration: none;
    color: inherit;
    padding: calc(5px + 1vw)
    
}

/* Hero Image and Title */

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/Main\ Photo.jpg) no-repeat center center;
}